[submodule "vim/bundle/vim-javascript"]
    path = vim/bundle/vim-javascript
    url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/vim-mac-classic-theme"]
	path = vim/bundle/vim-mac-classic-theme
	url = https://github.com/bio/vim-mac-classic-theme.git
