[submodule "vim/bundle/vim-javascript"]
    path = vim/bundle/vim-javascript
    url = http://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/mac-classic"]
	path = vim/bundle/mac-classic
	url = git@github.com:nelstrom/vim-mac-classic-theme.git
